{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    <br>
    <div class="div-newpost container">
        <!--<form id="newpost-form">
            <div id="post-txt"></div><textarea class="form-control" placeholder="What are you thinking in..?"></textarea></div>
            <div class=""><input type="submit" class="btn btn-primary btn-post" value="Post!"></div>
        </form>-->
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ post_form.as_p}}
        <input type="submit" class="btn btn-primary btn-post" value="Post!">
    </form>
    </div>
    <br>

{% else %}
<h2> Create an account and start posting!</h2>
{% endif %}

{% for post in posts %}

<div class="each-post">
    <time>{{post.timestamp}}</time>
    <a href="{% url 'profile' post.writed_by%}">{{post.writed_by}}</a>
    <p>{{post.post_message}}</p>

{% endfor %}

{% endblock %}