{% extends "network/layout.html" %}

{% block body %}
{% if not user.is_authenticated %}
<h2> Create an account and start to enjoy!</h2>    
{% else %}

<br>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ post_form.as_p}}
        <input type="submit" class="btn btn-primary btn-post" value="Post!">
    </form>
    <hr>

{% if posts|length == 0 %}
<h1>There is any post. Start following someone, or make the first post ever!</h1>
{% else %}

<h1>Posts:</h1>
{% for post in posts %}

<div class="each-post">
    <a class="writed_by" href="{% url 'profile' post.writed_by%}">{{post.writed_by}}</a> @ <time>{{post.timestamp}}</time>
    <a>{{post.like_post.count}}</a><button id="btn-like-{{post.id}}" class="btn " onclick="actLike('{{post.id}}')"></button>
    <script>
        (async function(){
            const isL = await isLike('{{ post.id }}');
            console.log('Post '+'{{ post.id }}'+' is '+isL);    
            if(isL){
                document.querySelector("#btn-like-{{post.id}}").className = 'btn bi bi-heart' ;}
            else{
                document.querySelector("#btn-like-{{post.id}}").className = 'btn bi bi-heart-fill' ;
            }
        })();
    </script>
<br>
    <span class="post_message">{{post.post_message}}</span>
    {% if post.writed_by == request.user %}
    <button class="btn btn-secondary bi bi-pencil-fill edit" onclick="editPost('{{post.id}}')"></button>
    {% endif %}
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1"> First </a>
            <a href="?page={{ posts.previous_page_number }}"> Previous </a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> Next </a>
            <a href="?page={{ posts.paginator.num_pages }}"> Last </a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endif %}

<div class="modal" tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editing...</h5>
          <button type="button" class="btn-close" onclick="closeModal()"></button>
        </div>
        <div class="modal-body">
          <textarea class="edit_message" cols="30" rows="2" maxlength="150"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" id="savePost">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}