{% extends "network/layout.html" %}

{% block body %}
{{view_profile.username}}
{{view_profile.email}}

<p>Following: {{n_following}}</p>
<p>Followers: {{n_follows}}</p>

{% if view_profile == request.user %}
    <!--No cargar ningun boton, un usuario no puede seguirse a si mismo.-->
    <button class="btn btn-secondary"><i class="bi bi-pencil-fill"></i> Edit Profile</button>
{% elif follow_flag %}
<button class="btn btn-secondary" id="unfollow">Unfollow</button>
{% else %}
<button class="btn btn-primary" id="follow">Follow</button>
{% endif %}

{% for post in posts %}

<div class="each-post">
    <time>{{post.timestamp}}</time>
    <!--<a href="{% url 'profile' post.writed_by%}">{{post.writed_by}}</a>-->
    <p>{{post.post_message}}</p>
</div>
{% endfor %}

{% endblock %}