{% extends "network/layout.html" %}

{% block body %}

{{view_profile.username}}
{{view_profile.email}}

<p>Following: {{n_following}}</p>
<p>Followers: {{n_follows}}</p>

{% if view_profile == request.user %}
    <!--No cargar ningun boton, un usuario no puede seguirse a si mismo.
    <button class="btn btn-secondary"><i class="bi bi-pencil-fill"></i> Edit Profile</button>-->
{% else %}
    <div class="btn btn-primary" id="btn-follow" onclick="console.log('{{ view_profile.id }}');isFollow('{{ view_profile.id }}')">
    </div>
    <script>
        console.log(document.querySelector("#btn-follow").innerHTMl);
        if (isFollow('{{ view_profile.id }}')){
            document.querySelector('#btn-follow').innerHTMl = "Unfollow";
        }
        else{
            document.querySelector('#btn-follow').innerHTML = "Unfollow";
        }
    </script>
{% endif %}

{% for post in posts %}

<div class="each-post">
    <time>{{post.timestamp}}</time>
    <!--<a href="{% url 'profile' post.writed_by%}">{{post.writed_by}}</a>-->
    <p>{{post.post_message}}</p>
</div>
{% endfor %}

{% endblock %}