{% extends "network/layout.html" %}

{% block body %}

<div class="card">
    <h5 class="card-header">{{view_profile.email}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{view_profile.username}}</h5>
      <div class="card-text">
        <p>Following: {{n_following}}</p>
        <p>Followers: {{n_follows}}</p>
      </div>
{% if not view_profile == request.user %}
    <div class="btn btn-primary" id="btn-follow" onclick="actFollow('{{ view_profile.id }}');">Please wait!</div>
    <script>
        document.querySelector('#btn-follow').innerHTML = "Loading...";
    
        (async function(){
            const isF = await isFollow('{{ view_profile.id }}');
            
            //console.log(isF);    
            if(isF){
                document.querySelector('#btn-follow').innerHTML = "Unfollow";
                console.log('Unfollow btn loaded');}
            else{
                document.querySelector('#btn-follow').innerHTML = "Follow";
                console.log('Follow btn loaded'); }
            }
        )();            
    </script>
{% endif %}
    </div>
  </div>

<br>
<hr>
    
{% for post in posts %}
<div class="each-post">
    <a class="writed_by">{{post.writed_by}}</a> @ <time>{{post.timestamp}}</time>
    <a>{{post.like_post.count}}</a><button id="btn-like-{{post.id}}" class="btn " onclick="actLike('{{post.id}}')"></button>
<script>
    (async function(){
        const isL = await isLike('{{ post.id }}');
        console.log('Post '+'{{ post.id }}'+' is '+isL);    
        if(isL){
            document.querySelector("#btn-like-{{post.id}}").className = 'btn bi bi-heart' ;}
        else{
            document.querySelector("#btn-like-{{post.id}}").className = 'btn bi bi-heart-fill' ;
        }
    })();
</script>
    <br>
    <span class="post_message">{{post.post_message}}</span>
    {% if view_profile == request.user %}
    <button class="btn btn-secondary bi bi-pencil-fill edit" onclick="editPost('{{post.id}}')"></button>
    {% endif %}
    
</div>
{% endfor %}

<div class="modal" tabindex="-1" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editing...</h5>
        <button type="button" class="btn-close" onclick="closeModal()"></button>
      </div>
      <div class="modal-body">
        <textarea class="edit_message" cols="30" rows="2" maxlength="150"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" id="savePost">Save changes</button>
      </div>
    </div>
  </div>
</div>

        

{% endblock %}
