body {
    padding: 10px;
}

.header{
        color: black;
}

.form-signin { 
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

.auction{
  font-size: large;

}

#image{
  text-align: center;
  max-width: 500px;
}

.price{
  font-weight: bold;
}

#date{
  font-size: small;
  color: lightgray;
}

#name{
  font-size: medium;
  font-weight: bold;
}

#comment{
  font-size: small;
}

/* Color Pallets
  #D3741C; Naranja
  FDFFE3 Cremita
  E6E3BB Agrisado
  8E4423 Amarronado
  C6491A rojiso
  242729 GrisOscuro
*/

  