body {
    padding: 10px;
}

.header{
        color: black;
}

.form-signin { 
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

/* Color Pallets
  #D3741C; Naranja
  FDFFE3 Cremita
  E6E3BB Agrisado
  8E4423 Amarronado
  C6491A rojiso
  242729 GrisOscuro
*/

  