.links{
    text-align: right;
}

.search{
    text-align: center;
}
.container {
    max-width: none !important;
    width: 970px;
}

a{
    font-size: small;
    font-family: sans-serif;
    color: #000;
}
a:hover{
    text-decoration: underline;
    color: #666666;
}

#button {
    display: inline-block;
    background-color:#e6e6e6;
    border: 1px solid #e6e6e6;
    color:#808080;
    border-radius: 3px;
    size: 15px;
    text-align: center;
    font-size: small;
    padding: 4px 10px 4px 10px;
}

#button:hover{
    color: #000;
    border: 1px solid #666666;
}

#AdvancedButton{
    background-color: #4d90fe;
    color: #fff;
    font-weight: bold;
    text-align: right;
    border-color: #3079ed;
    border-radius: 3px;
}

#AdvancedButton:hover{
    background-color: #4787ed;
    color: #fff;
}

img{
    width: 40%;
}


#SearchBar {
    width: 40%;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

input[type=text] {
    box-sizing: border-box;
    font-size: 16px;
    background-image: url('img/searchicon.png');
    background-size: 20px;
    background-position: 2px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 2px;
    padding-left: 30px;
}

