textarea {
    min-height: 70%;
}

.div-mail{
    display : block;
    border: 0.5px solid #000000;
    border-radius: 3px;
}

.email-view{
    margin: 10px;
    padding: 20px;
}

.email-view-unread{
    background-color: white;
}
.email-view-read{
    background-color: lightgray;
}


#btn-submit{
    text-align: center;
    width: 50%;
}

#email-subject{
    display: inline-block;
    margin-left: 50px;
    font-weight: bold;
}

#email-timestamp{
    display: inline-block;
    float: right;
    color: grey;
}

.btn-archive{
    float: right;
    margin-right: 15px;
}

.container {
    max-width: none !important;
    min-width: 800px;
    width: auto;
}