textarea {
    min-height: 70%;
}

.div-mail{
    display : grid;
    border: 0.5px solid #000000;
    border-radius: 3px;
}

.email-view{
    margin: 10px;
    padding: 20px;
}

.email-view-unread{
    background-color: white;
}
.email-view-read{
    background-color: lightgray;
}

#btn-submit{
    text-align: center;
}

input[type=text] {
    width: 50%;
}

