{% extends "mail/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="header">
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    </div><hr>

    <div id="emails-view" class="container">
    </div>

    <div id="reading-view">
        <div class="wrapper">
                <p>From: <a id="rd-person"></a></p>
                <p>Recipients: <a id="rd-recipient"></a></p>
                <p>Subject: <a id="rd-subject"></a></p>
                <a id="rd-timestamp"></a>
                <div id="btn-reply"><button class="btn btn-sm btn-outline-primary">Reply</button></div>
                <hr>
                <p>Body: <p id='response'></p><p id="rd-body"></p></p>
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="alert alert-danger" id="not_sent" role="alert"></div>
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <br>
            <div id="btn-submit"><input type="submit" class="btn btn-primary" value="Send!"></div>
        </form>
    </div>
{% endblock %}

