textarea {
    height: 80px;
}

.btn-post{
    width: 30%;
    text-align: center;
}

.each-post {
    position: relative;
    width: 80%; 
    border: 0.5px solid #000000;
    border-radius: 3px;
    margin: auto;
}

.body{ text-align: center;}


.step-links{
    margin: 30px auto 50px auto;
    display: block;
}

.current, .writed_by{
    color:black;
    font-size: medium;
    font-weight: bolder;
}

.step-links > a, time{
    color:grey;
}
.step-links a:hover, .post_message{
    font-size: large;
    font-style: oblique;
}

#edit{
    margin-right: auto;
}